<section class="section" id="doctors">
  <div class="container">
    <h3 class="section-title">Đội ngũ Chuyên gia</h3>
    <p class="section-subtitle">
      Chuyên môn xuất sắc, tận tâm cống hiến - Đội ngũ y bác sĩ tại CMEC là nơi
      bệnh nhân có thể trao gửi niềm tin tuyệt đối.
    </p>

    <div class="grid cards-4">

      <div class="doctor-card">
        <div class="doctor-img-wrap">
          <img src="./assets/hùng.jpg"
               alt="Bác sĩ Nguyễn Hùng"
               loading="lazy" />
        </div>
        <div class="doctor-info">
          <h4>TS.BS Nguyễn Hùng</h4>
          <p>Trưởng khoa Tim mạch</p>
          <a class="btn btn-outline" href="#booking">Đặt khám</a>
        </div>
      </div>

      <div class="doctor-card">
        <div class="doctor-img-wrap">
          <img src="./assets/tiến.jpg"
               alt="Bác sĩ Trần Quốc Tiến"
               loading="lazy" />
        </div>
        <div class="doctor-info">
          <h4>BS.CKII Trần Quốc Tiến</h4>
          <p>Khoa Nội Thần Kinh</p>
          <a class="btn btn-outline" href="#booking">Đặt khám</a>
        </div>
      </div>

      <div class="doctor-card">
        <div class="doctor-img-wrap">
          <img src="./assets/nam.jpg"
               alt="Bác sĩ Lê Văn Nam"
               loading="lazy" />
        </div>
        <div class="doctor-info">
          <h4>ThS.BS Lê Văn Nam</h4>
          <p>Khoa Nội tổng quát</p>
          <a class="btn btn-outline" href="#booking">Đặt khám</a>
        </div>
      </div>

      <div class="doctor-card">
        <div class="doctor-img-wrap">
          <img src="./assets/đức.jpg"
               alt="Bác sĩ Phạm Văn Đức"
               loading="lazy" />
        </div>
        <div class="doctor-info">
          <h4>BS Phạm Văn Đức</h4>
          <p>Chuyên khoa Nhi</p>
          <a class="btn btn-outline" href="#booking">Đặt khám</a>
        </div>
      </div>

      <div class="doctor-card">
        <div class="doctor-img-warp">
          <img src="./assets/mạnh.jpg" 
          alt="Đinh Thế Mạnh"
          loading="lazy" />
        </div>
        <div class="doctor-info">
          <h4>BS Đinh Thế Mạnh</h4>
          <p>Khoa Cận Lâm Sàng</p>
          <a class="btn btn-outline" href="#booking">Đặt khám</a>
        </div>
      </div>
      
    </div>
  </div>
</section>